* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fs-body: 1.6rem;
  --fs-header: 4rem;

  --ff-header: "Epilogue", sans-serif;

  --hue: 250;
  --bg-primary: hsl(var(--hue), 48%, 9%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secundary: hsl(var(--hue), 50%, 80%, 1);
  --fs-secundary-dark: hsl(var(--hue), 100%, 11%, 1);
}

body {
  background-color: var(--bg-primary);
  color: var(--fc-primary);

  font-size: var(--fs-body);
}

.page {
  max-width: 33rem;
  margin: 0 auto;
}

@media (min-width: 750px) {
  :root {
    --fs-header: 5.6rem;
  }

  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }

  main {
    grid-template-areas:
      "A B B B"
      "C C C D";
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }
}

img {
  width: 100%;
  height: auto;

  animation-name: imgscale;
  animation-duration: 2000ms;
}

header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-header);

  text-align: center;

  animation-name: topdown;
  animation-duration: 700ms;
}

header p {
  color: var(--fc-secundary);
  text-transform: uppercase;

  line-height: 3.2rem;
  letter-spacing: 3px;

  font-weight: 400;

  margin-bottom: 1.7rem;
}

header h1 {
  font-weight: 800;
  font-size: var(--fs-header);
  line-height: 4.8rem;
}

main {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 10rem;

  animation: topdown 700ms 350ms backwards;
}

.card {
  position: relative;
  font-family: var(--ff-header);
}

.card img {
  height: 41.6rem;
  object-fit: cover;

  filter: brightness(0.5);

  border-radius: 6px;
  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.7;
  filter: brightness(1);
}
.card h2 {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: 4rem;
  font-weight: 800;
  color: var(--fc-primary);

  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fs-secundary-dark);
  padding: 0 1.6rem;
  height: 3.8rem;
  width: fit-content;

  display: inline-flex;
  align-items: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  animation-name: leftslide;
  animation-duration: 4000ms;
}

@keyframes leftslide {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes imgscale {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
